@import 'https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap';
@import '~@fortawesome/fontawesome-free/css/all.css';

html {
    scroll-behavior: smooth;
}

@import 'tailwindcss/base';

button:focus, a:focus, input:focus, select:focus, textarea:focus {
    @apply outline-none;
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.nav-menu {
    @apply relative;
    @apply block;
    @apply -mx-3;
    @apply px-3;
    @apply py-2;
    @apply whitespace-nowrap;
    @apply cursor-pointer;
}

.nav-menu.active {
    @apply bg-white;
    @apply text-creatify-blue;
    @apply rounded-t-xl;
}

.nav-menu.active::before, .nav-menu.active::after {
    content: ' ';
    position: absolute;
    display: inline-block;
    bottom: 0;
    z-index: 0;

    @apply w-3;
    @apply h-3;

    @apply bg-white;
}

.nav-menu.active::before {
    left: -0.75rem;
}
.nav-menu.active::after {
    right: -0.75rem;
}

.nav-menu.active > span::before, .nav-menu.active > span::after {
    content: ' ';
    position: absolute;
    display: inline-block;
    bottom: 0;
    z-index: 1;

    @apply w-3;
    @apply h-6;

    @apply bg-creatify-blue;
}

.nav-menu.active > span::before {
    left: -0.75rem;
    @apply rounded-br-lg;
}
.nav-menu.active > span::after {
    right: -0.75rem;
    @apply rounded-bl-lg;
}